<!DOCTYPE html>
<html>
<head>
  <title>AppBlog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
	<% flash.each do |key, msg| %>
		<%= content_tag :div, msg, class: "alert alert-#{key}"%>
	<% end %>

	<% if user_signed_in? %>
		Welcome <%= current_user.email %>. Not you?
		<%= link_to "Sign out", destroy_user_session_path, :method => :delete %> |
		<%= link_to "Edit account", edit_user_path(current_user) %> |
		<%= link_to "Show account", user_path(current_user) %>

	<% else %>
		<%= link_to "Sign up", new_user_registration_path %> or
		<%= link_to "Sign in", new_user_session_path %>

	<% end %>
		<%= link_to_if(can?(:create,@user),"New Role",new_role_path) {}%>
		<%= link_to_if(can?(:create,@user),"New Article", new_article_path){}%>
	<%= yield %>
	<%= debug(params) if Rails.env.development?%>

</body>
</html>
